:root {
    --darkBG: #100A1A;
    --textDarkBG: #FFFF;
    --navbarDarkBG: #302B36;
    --navbarDarkBGHover: #27232c;
    --heroBG: #4B5160;
}

.main {
    height: 100vh;
}

.btn {
    display: block;
}

.cards-wrapper {
    width: calc(75%/3);
}

.card {
    width: 90%;
}



