:root {
}

.main {
    height: 100vh;

}

.btn {
    display: block;
}

.cards-wrapper {
    width: calc(75%/3);
}

.card {
    width: 90%;
}

.card:hover , .card:active{
    box-shadow:  0 0 10px 5px #5d5d79;
    width: 95%;
    transition: 0.25s ease-in-out;
}

.discord-icon {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.95)
      ),
      url("./img/lyrith-1.png");
    background-size: cover;
}

.download-icon {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.95)
      ),
      url("./img/marenol-1.png");
    background-size: cover;
}

.file-icon {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.95)
      ),
      url("./img/mopemope-1.png");
    background-size: cover;
}

