:root {
}

.main{
    padding-top: 3%;
    width: 100%;
    height: 100vh;
}

/* .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    width: 293px;
    margin-left: calc(-.5 * var(--bs-gutter-x));
    white-space: nowrap;
} */

.btn {
    display: block;
    width: 100%; 
}

.cards-wrapper {
    width: 100%;
}

.card {
    width: 90%;
    /* max-height: 100%; */
}

.card:hover , .card:active{
    box-shadow:  0 0 10px 5px #5d5d79;
    width: 95%;
    transition: 0.15s ease-in;
}

.discord-icon {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.95)
      ),
      url("../img/lyrith-1.png");
    background-size: cover;
}

.download-icon {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.95)
      ),
      url("../img/marenol-1.png");
    background-size: cover;
}

.file-icon {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.95)
      ),
      url("../img/mopemope-1.png");
    background-size: cover;
}

.icon:hover {
    transition: 0.1s ease-in;
    height: 50px;
    width: 50px;
    
    filter: drop-shadow(0 0 1px rgb(144, 148, 108));
}

#download-items {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    /* overflow-x: auto;

    display: flex;
    flex-wrap: wrap;
    color-scheme: dark; */
}
